extends layout

block content
  h1 ID: #{bookinstance._id}

  p #[strong Title:] 
    a(href=bookinstance.book.url) #{bookinstance.book.title}
  p #[strong Imprint:] #{bookinstance.imprint}

  p #[strong Status:] &nbsp;
    if bookinstance.status=='Available'
      span.text-success #{bookinstance.status}
    else if bookinstance.status=='Maintenance'
      span.text-danger #{bookinstance.status}
    else
      span.text-warning #{bookinstance.status}

  if bookinstance.status!='Available'
    p #[strong Due Back:] #{bookinstance.due_back_formatted}

  hr
  form(action="/catalog/bookinstances/" + bookinstance._id + "?_method=DELETE" method="POST")
    .form-group
      input#bookInstanceid.form-control(type="hidden", name="bookInstanceid", required="true", value=bookinstance._id) 
    button.btn.btn-danger(type="submit") Delete Book Instance
