doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
      crossorigin="anonymous"
    )
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container-fluid
      .row
        .col-sm-2
          block sidebar
            ul.sidebar-nav
              li
                a(href="/catalog") Home
              li
                a(href="/catalog/books") All Books
              li
                a(href="/catalog/authors") All Authors
              li
                a(href="/catalog/genres") All Genres
              li
                a(href="/catalog/bookinstances") All BookInstances
              li
                hr
              li
                a(href="/catalog/authors/new") Create new Author
              li
                a(href="/catalog/genres/new") Create new Genre
              li
                a(href="/catalog/books/new") Create new Book
              li
                a(href="/catalog/bookinstances/new") Create new Book Instance (copy)
        .col-sm-10
          block content

    script(
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" 
      crossorigin="anonymous"
    )
    script(
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" 
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" 
      crossorigin="anonymous"
    )


 
